
body {
    background-color:#a4dae0 ;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.divider {
    border: none;
    border-top: 1px solid #000;
    margin: 0px 0;
}

.Box0 {
    display: flex;
    height: 15vh;
    width:100%;
    align-items: center;
    justify-content: left;
    background-color: white;
    margin-bottom:2vh;
    float:left;
}

#Image1 {
    width: 10vw;
    margin-left: 2vw;
    height: 10vh;
}

.Box0 h1 {
    min-width: 15vw;
    margin-left: 30.5vw;
    font-size:2rem;
}

.Box1 {
    display: flex;
    height: 70vh;
    width: 57vw;
    float: left;
    background-color: white;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

.Box2 {
    display: flex;
    height: 45vh;
    width: 33vw;
    margin-right: 2vw;
    padding-top: 2vh;
    padding-left: 2vh;
    justify-content: center;
    float: right;
    background-color: white;
}
#Griedview1 {
    height: 25vh;
    min-width: 30vw;
}




/* griedview 1 and 2 added in same div
,use griedview id to style 2 gives inside this 1 div

#Griedview2 {
    height: 35vh;
    background-color: antiquewhite;
    width: 30vw;
}*/

.Box4 {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: white;
   
    align-items: center;
    justify-content: Right;
}



#Calendar1 {
    border:none;
}


.TodaySelect {
    background: linear-gradient(to bottom, #4e82eb, #b6c4db)
}
.CalendarDay {
    border: outset 1px #fbfbfb;
    text-decoration: none;
    font-weight:bold;
 
}

#NexPre{
    font-size:1vh;
}
.CalendarSelector {
   
    background-color:#bebcbc !important;
}
.HeaderStyle {
    background-color: #bfdcfa;
}
.GridViewStyle {
    padding: 4px 7px 2px 4px !important;
    border-collapse: collapse !important;
    width: 35vw;
}

    .GridViewStyle th {
        background-color: aliceblue !important;
        border: 1px solid none !important;
        width: 33vw;
    }
    .GridViewStyle td {
        border: 1px solid none !important;
        width: 33vw;
    }
.CustomRowStyle{
    height:25px;
}
.GridViewStyle th:first-child, .GridViewStyle td:first-child {
    border-left: none !important;
}

.GridViewStyle th:last-child, .GridViewStyle td:last-child {
    border-right: none !important;
}

.GridViewStyle tr:first-child th, .GridViewStyle tr:first-child td {
    border-top: none !important;
}

.GridViewStyle tr:last-child th, .GridViewStyle tr:last-child td {
    border-bottom: none !important;
}



@media screen and (max-width:768px) {
    
    #Image1 {
        width: 16vw;
        height: 10vh;
    }
    .Box0 h1 {
        min-width: 15vw;
        margin-left: 20.5vw;
        font-size: 1.5rem;
    }
    .Logout {
        display: flex;
        width: 100%;
        height: 15vh;
        align-items: center;
        justify-content: right;
        background-color: white;
        margin-bottom: 2vh;
        float: right;
    }
}

/*===============================================*/
.Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logout {
    display: flex;
    width: 100%;
    height: 15vh;
    margin-right: 4vw;
    align-items: center;
    justify-content: right;
    background-color: white;
    margin-bottom: 2vh;
    float: right;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.profile-circle {
    width: 50px;
    height: 50px;
    border-radius: 50vh;
    margin-right: 4vw;
    background-color: white;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown-menu {
    display: none;
    margin-right: 20vw;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    .dropdown-menu.show {
        display: block;
    }

    .dropdown-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .dropdown-menu li {
        padding: 5px 0;
    }

        .dropdown-menu li a {
            display: block;
            text-decoration: none;
            color: #333;
        }

            .dropdown-menu li a:hover {
                background-color: #ddd;
            }

