
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border: solid 3px;
    
}

.box {
    position: absolute;
    width: 50%;
    height: 83%;
    background-color: skyblue;
    border: 8px;
    text-align: center;
    align-items: center;
    overflow: hidden;
}
    .box form {
        background-color: transparent;
    }

    .box .A {
        position: absolute;
        text-align: left;
        margin-left: 150px;
        margin-top: 100px;
        font-family: Italic;
        font-size: 20px;
        background-color: transparent;
        font-weight: bold;
   
    }
    
    .box .h1
    {
        padding:20px;
    }

   

.button1
{
    height:30px;
    width:30px;

}
.drop, .text {
    height: 30px;
    width: 350px;
    text-align: start;
    padding-left: 10px
}
.button {
    margin-top: 400px;
    margin-right: 50px;
}

.submit {
    z-index: 2;
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #90EE90;
    margin-right: 50px;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
}
.Cancel {
    z-index: 2;
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #FFCCCB;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
}

.button1 {
   
    background-color: transparent;
    position: absolute;
    width:30px;
    height:28px;
   image-rendering:auto;
}
.calendarView
{
   
    z-index:2;
    height:40px;
    width:40px;
    background-color:darkgrey
}
.error
{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:10px;
  color:red;
}
.text2 {
    max-width: 350px;
    max-height: 50px;
    width: 350px;
    height: 50px;
    text-align: start;
    padding-left: 10px ;
    padding-top: 10px;
}
.box form {
    position: absolute;
    inset: 4px;
    background-image: linear-gradient(to right top, #7da3dc, #9bb4e2, #b6c6e8, #d0d8ee, #e8ebf4);
    padding: 20px 25px 20px 30px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,transparent,transparent,Red,Red,Red);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

