
body {
    background-color:#a4dae0 ;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.Box0 {
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: left;
    background-color: white;
    margin-bottom:2vh;
}

#Image1 {
    width: 10vw;
    margin-left: 2vw;
    height: 10vh;
}

.Box0 h1 {
    min-width: 10vw;
    margin-left: 33vw;
    font-size:8vh;
}

.Box1 {
    display: flex;
    height: 70vh;
    width: 57vw;
    float: left;
    background-color: white;
    margin-left: 2vw;
    margin-bottom: 3vh;
}

.Box2 {
    display: flex;
    height: 35vh;
    width: 33vw;
    margin-right: 2vw;
    padding-top: 2vh;
    padding-left: 2vh;
    justify-content: center;
    float: right;
    background-color: white;
}
#Griedview1 {
    height: 35vh;
    min-width: 30vw;
}
/* griedview 1 and 2 added in same div
,use griedview id to style 2 gives inside this 1 div

#Griedview2 {
    height: 35vh;
    background-color: antiquewhite;
    width: 30vw;
}*/

.Box4 {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: white;
   
    align-items: center;
    justify-content: Right;
}

#Button1 {
    background-color: indianred;
    margin-right: 2vw;
    border: 1px solid black;
    border-radius: 5px;
    height:5vh;
}

#Calendar1 {
    border:none;
}


.TodaySelect {
    background: linear-gradient(to bottom, #4e82eb, #b6c4db)
}
.CalendarDay {
    border: outset 1px #fbfbfb;
    text-decoration: none;
    font-weight:bold;
 
}

#NexPre{
    font-size:1vh;
}
.CalendarSelector {
   
    background-color:#bebcbc !important;
}
.HeaderStyle {
    background-color: #bfdcfa;
}
.GridViewStyle {
    padding: 4px 7px 2px 4px !important;
    border-collapse: collapse !important;
    width: 35vw;
}

    .GridViewStyle th {
        background-color: aliceblue !important;
        border: 1px solid none !important;
        width: 33vw;
    }
    .GridViewStyle td {
        border: 1px solid none !important;
        width: 33vw;
    }
.CustomRowStyle{
    height:25px;
}
.GridViewStyle th:first-child, .GridViewStyle td:first-child {
    border-left: none !important;
}

.GridViewStyle th:last-child, .GridViewStyle td:last-child {
    border-right: none !important;
}

.GridViewStyle tr:first-child th, .GridViewStyle tr:first-child td {
    border-top: none !important;
}

.GridViewStyle tr:last-child th, .GridViewStyle tr:last-child td {
    border-bottom: none !important;
}