
.gridview-container {
    max-height: 450px !important;
    overflow-y: auto !important;
    width: 700px !important;
}

    .gridview-container th {
        position: sticky !important;
        top: 0 !important;
        background-color: #e4e3e3 !important;
        z-index: 1 !important;
        border: 1px solid #808080;
    }

    .gridview-container tbody {
        scrollbar-width: thin !important;
    }
