.A {
    height: 100px;
    width: 100px;
}


/*.N{
    display:none;
} */


.h1 {
    margin-left: 80px;
}

.loginlogo {
    margin-left: 90px;
}

.box {
    position: absolute;
    width: 350px;
    height: 420px;
   
    background-color: #f8fbff;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 50px;
    flex-direction: column;
}

.inplog {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    margin-left: 80px;
    padding: 5px;
}




.box form {
    position: absolute;
    inset: 4px;
    background: #f8fbff;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 330px;
   
    height: 400px;
    max-width: 360px;
    max-height: 430px;
    background: red;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.H1 {
    vertical-align: bottom;
    margin-top: 70px;
    height: 20px;
    font-size: 40px;
    font-weight: 600;
    margin-left: 300px;
    background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.flx {
    max-width: 100px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.holiday {
    max-width: 560px;
    max-height: 500px;
    margin-top: 60px;
    margin-left: 0px;
}

.Flexur {
    margin-left: 30px;
    margin-top: 50px;
}

.submit {
    margin-top: 20px;
    margin-left: 90px;
    width: 100px;
    padding: 5px;
    border: 1px solid #000;
    background-color: #0555fb;
    color: white;
}
#Label7,#Label9{
    padding:4px;
    font-size:20px;
    
}
.submit:hover {
    background-color: #7499f1;
    color: black;
    border: 1px solid #000;
}


@media screen and (max-width: 767px) {
   

    .holiday {
        display: none;
    }
   
}